// --------------------------------------------------
// Breakpoints
// Based on Tailwind CSS
// https://tailwindcss.com/docs/breakpoints
// --------------------------------------------------

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// --------------------------------------------------
// Colors
// --------------------------------------------------

$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$gray: #666666;

// --------------------------------------------------
// Border radius
// --------------------------------------------------

$border-radius-sm: 0.125rem;
$border-radius: 0.25rem;
$border-radius-md: 0.375rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 0.75rem;
$border-radius-xxl: 1rem;

// --------------------------------------------------
// Width
// --------------------------------------------------
$max_width_wrapper: 1440px;

// --------------------------------------------------
// Animations
// --------------------------------------------------
$timming: 0.2s;
